:root{
    --fundo: #ebe6db;
    --cvClaro:#fff6e5;
    --cvMedio: #f7e2c9;
    --cvEscuro: #e2c6a5;
    --cartaoAzul: #0d183e;
    --cartaoVermelho: #953b4c;
    --acinzentado: #333231;
}


body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--fundo);
    color:  var(--cartaoAzul);
}

header {
    background-color: var(--fundo);
}

main{
    margin-bottom: 120px;
    
}

footer {
    background-color: var(--fundo);
}

a{
    color:  var(--cartaoAzul);
    text-decoration: none;
}

a:hover,
.bi:hover{
    color: var(--cartaoVermelho);
}

nav a.active {
    color: var(--cartaoVermelho);
    font-weight: bold;
    border-bottom: 2px solid var(--cartaoVermelho);
}

.bi {
    font-size: 1.8rem;
}